<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plotting Tool</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="assets/css/plot.css" rel="stylesheet">

    <!---->
    <!--&lt;!&ndash; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

    <script src="assets/js/polyline.js"></script>

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="//cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="assets/js/angular-min-1.5.7.js"></script>
    <script src="assets/js/angular-simple-logger.js"></script>
    <script src="assets/js/ui-leaflet.min.js"></script>
    <script type="text/javascript" src="assets/js/plot.js"></script>
</head>

<body ng-app="MapPlotApp" ng-controller="PlotsController" ng-cloak>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Navigation toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Plotting Tool</a>

            <ul class="nav navbar-right top-nav" style="padding: 5px">
                <li style="padding: 10px 0px 0px 10px">
                    <label class="checkbox-inline" style="color: white">Markers</label>
                    <input type="radio" ng-model="mapsView" value="markers" ng-change="changeMapsView()">
                    <label class="checkbox-inline" style="color: white">Path</label>
                    <input type="radio" ng-model="mapsView" value="polyline" ng-change="changeMapsView()">
                </li>
                <li style="padding: 10px 0px 0px 20px">
                    <iframe src="//ghbtns.com/github-btn.html?user=maxwellonjoro&repo=map-plot-tools&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                </li>
            </ul>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse text-center">
            <ul class="nav navbar-nav side-nav" data-tabs="main-tabs" >
                </br>
                <li>
                    <div style="margin-left: 10px; padding:7px; width: 210px;">
                        <select class="form-control" id="sel1" ng-change="onDelimiterChange()" ng-model="splitChar">
                            <option value='|'>| - Pipe</option>
                            <option value='\r\n'>\r\n - New line+CR</option>
                            <option value=";">; - Semi-colon </option>
                            <option value=" ">  - Space </option>
                            <option value="^">^ - Caret </option>
                            <option value="~">~ - Tilde </option>
                        </select>
                    </div>
                </li>
                <li>
                    </br>
                    <textarea ng-model="pointsStr" placeholder="Paste points here. Separate points using selected delimiter above." rows="10" style="margin-left: 5px; padding:7px; width: 215px; resize: none;" required></textarea>
                </li>
                <li>
                    <div class="form-inline">
                        <div class="form-group">
                            <label style="color: white">Decode</label>
                            <input type="checkbox" class="checkbox" ng-model="decode">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" ng-click="plotPoints()">Submit points</button>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Maps view -->
                    <leaflet center="nairobi" paths="paths" event-broadcast="events" markers="markers" height="calc(90vh - 10px)" width="100%"></leaflet>
                    <!-- End of maps view -->
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
